@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey950: hsl(216, 12%, 8%);
    --grey900: hsl(213, 19%, 18%);
    --grey500: hsl(217, 12%, 63%);
    --orange500: hsl(25, 97%, 53%);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Overpass', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    background-color: black;
}

h1 {
    font-size: 1.6rem;
    padding: 2rem 0 1rem 0;
    color: white;
}

p {
    color: var(--grey500);
    line-height: 1.6rem;
}

.component {
    display: none;
    background-color: var(--grey950);
    width: 24rem;
    padding: 1.5rem;
    border-radius: 2rem;
}

.rating-apresentation {
    display: block;
}

.button-box {
    margin: 1rem 0;
    justify-content: space-between;
}

.button {
    cursor: pointer;
    color: white;
    background-color: var(--grey900);
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
}

.submit {
    cursor: pointer;
    padding: 0.8rem;
    width: 100%;
    color: var(--grey950);
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--orange500);
    border: 0;
    border-radius: 30px;
}

.rating:hover {
    background-color: var(--orange500);
    color: black;
}

.finish-rating {
    display: none;
    flex-direction: column;
    background-color: var(--grey950);
    text-align: center;
}

.thanks-icon {
    margin: 1rem 0 0 0;
}

.selected-rating {
    padding: 0 0.5em;
    border-radius: 1rem;
    background-color: var(--grey900);
}

.show-rating {
    color: var(--orange500);
}

.active {
    background-color: white;
    color: black;
}